<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    

    <style>
    
         * {
     padding: 0;
     margin: 0;

     scroll-behavior: smooth;
 }

 .navbarbox {
     display: flex;
     margin-top: 10px;

 }

 .logo img {

  
     background-size: contain;
     background-repeat: no-repeat;
     border-radius: 100%;
     margin-left: 40px;
     width: 20px;

     height: 120px;
     width: 120px;
     flex-wrap: wrap;

 }
 body {
    margin: 0;
    padding: 0;
    background-image: url('https://wallpaperaccess.com/full/38144.jpg'); /* Default for large screens */
    background-size: cover; /* Ensure full coverage */
    background-position: center; /* Keep the focus area centered */
    background-repeat: no-repeat; /* Avoid tiling */
    background-attachment: fixed; /* Keeps the background static */
}

/* Tablets */
@media (max-width: 1280px) {
    body {
        background-image: url('https://wallpaperaccess.com/full/38144.jpg'); /* Optimized for tablets */
    }
}

/* Mobile phones */
@media (max-width: 720px) {
    body {
        background-image: url('https://wallpaperaccess.com/full/38144.jpg'); /* Optimized for mobiles */
        background-attachment: scroll; /* Improves performance on mobile */
    }
}

/* Laptops */
@media (max-width: 1440px) {
    body {
        background-image: url('https://wallpaperaccess.com/full/38144.jpg'); /* Optimized for laptops */
    }
}

 

 marquee {
     border: 1.5px solid rgb(18, 18, 18);

     border-radius: 5px;
     margin: 10px;
     color: white;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     height: max-content;
 }

 .navbar {
     background-color: black;
     /* box-shadow: 2px 2px 25px whitesmoke; */


     width: 80%;
     border: 2px solid white;
     margin: 10px;
     /* border-radius: 10px; */
     height: max-content;
     /* background-color: rgb(56, 53, 53); */
     /* border:2px solid black; */
     display: flex;
     flex-wrap: wrap;
     /* text-align: center; */
     margin-top: 40px;
     border-radius: 10PX;


 }


 .bigbox {



     /* align-content: start; */
     /* width: 100%; */
     display: flex;
     flex-direction: row;
     justify-content: space-around;
    
     /* border: 3px solid WHITE ; */
     flex-wrap: wrap;
     /* margin-top: 100px; */
     margin: 10px;
     border-radius: 4px;
     /* border-color: green; */

 }

 

 

  
 

 .navbar a:hover {
     color: white;
     font-size: medium;
     font-weight: bolder;
     width: fit-content;
     box-shadow: 2px 2px 25px aqua;

 }

 .navbar a {


     margin: 5px;
     padding: 5PX;
     border-radius: 8px;
     /* border:2px solid black; */
     width: fit-content;
     margin-left: 100px;
     color: white;
     text-decoration: none;
     /* padding-left: 100px; */
 }

 

 .box a img {
     margin-bottom: 25px;
     flex-shrink: 4px;
     margin-top: 80px;
     
     margin-left: 35px;
     
     height: 400px;
     width: 300px;
     border-radius: 10px;
     transition-property: all;
     transition-duration: 2s;
     
     border: 3px solid greenyellow;
     
     
    }
    .box a img:hover{
        /* border: 5px solid rgb(61, 200, 10); */
        /* border-style: dotted; */
        border-radius: 30px;
        transition-property: all;
        transition-duration: 2s;
        box-shadow: 15px 10px 10cm greenyellow;
        /* border: 4px solid aqua; */
 }
    #box5 a img:hover{
        /* border: 5px solid rgb(61, 200, 10); */
        /* border-style: dotted; */
        border-radius: 30px;
        transition-property: all;
        transition-duration: 2s;
        box-shadow: 15px 10px 10cm  aqua;
        /* border: 4px solid aqua; */
 }

 
 
  

 

 
    </style>
</head>
<body>
    <header>

        <div class="navbarbox">


 
            <div class="logo">

<img src="https://files.oaiusercontent.com/file-LwY1psYLC596N7qF6r8te2?se=2024-12-12T21%3A05%3A01Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3D40749622-4cac-4549-8d81-48c5eecdb5b1.webp&sig=tC9qgWgROn6MCk9s2bJzDSVwkXc%2BI20raax7INIs2Lw%3D" alt="" srcset="" >



            </div>

            <div class="navbar">
                


                    <a href="">HOME</a>
                    <a href="">BRANCH</a>


                    <a href="note">NOTES</a>
                    <a href="previous">PREVIOUS PAPER</a>
                    <a href="lecture">LECTURE</a>
                
            </div>

        </div>

    </header>


    </section>

    <section>
        <marquee direction="right" >
            !---THIS WEBSITE IS DESIGNED FOR STUDENT WHO NEED HELP DURING THEIR EXAM AND STUDY RELETED ISSUES ---!

        </marquee>
    </section>


    <section>

        <div class="bigbox">

 

            <div class="box" id="box3" title="NOTES">

                
                <a href="note" > <img src="https://th.bing.com/th/id/OIP.kMf0sLOfz7OscO-8pY4FPgAAAA?rs=1&pid=ImgDetMain" alt="notes"    ></a>
            </div>


            <div class="box" id="box5" title="LECTURE">
                <a href="lecture" ><img src="https://img.freepik.com/premium-vector/conference-scientific-seminar-woman-performing-stage-hall-business-lecture-event_165429-1350.jpg" alt="lec" > </a>

        </div>

            <div class="box" id="box4" title=" EXAM">
            
                 <a href="previous"><img src="  https://kannada.thehindustangazette.com/wp-content/uploads/2021/05/exam-text-sticky-note-pinned-to-corkboard-d-rendering-82204269.jpg" alt="past"></a>



            </div>


    </section>

</body>
<script src="index.js"></script>
</html>