<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lecture</title>

    <style>
        * {
            padding: 0%;
            margin: 0%;

            box-sizing: border-box;
        }

        body {
            /* width: 100%; */
            background-image: url(https://wallpaperaccess.com/full/38144.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            flex-wrap: wrap;
        }


        .box {
            margin: 20px;
            margin-top: 60px;
            height: 400px;
            width: 300px;
            border: 2px solid green;
            box-shadow: 2px 2px 10px white;
            flex-wrap: wrap;
 

 
}

.box:hover{
        /* border: 5px solid rgb(61, 200, 10); */
        /* border-style: dotted; */
        border-radius: 30px;
        transition-property: all;
        transition-duration: 2s;
        box-shadow: 15px 10px 10cm greenyellow;
        /* border: 4px solid aqua; */
 }
 






       

        .container {
            display: flex;
            /* float: both; */
            flex-wrap: wrap;

            justify-content: space-around;



            


        }

        pre {
            color: aqua;
            font-size: x-large;
            text-align: center;
            padding-top: 5px;
            text-shadow: 2px 2cap 40px aqua;
        }

        h1 {
            font-size: x-large;
            color: white;
            text-align: center;
            padding-top: 10px;
            text-shadow: 2px 2px 40px aqua;
        }

        a {
            font-size: large;
            color: yellow;
            text-decoration: none;
            padding-left: 15px;
        }

        a:hover {
            color: aqua;
        }
    </style>
</head>

<body>

    <h1>CLICK ON GIVEN LINK &#8681;</h1>
    <section>

        <div class="container">


            <div class="box">
                <pre>&#8681 C-PROGRAMMING &#8681</pre>
                <br>
                <a href="https://youtu.be/irqbmMNs2Bo?si=vOrqyhE0QZGhMtGB">&#8681 APNA COLLEGE </a>
                <BR></BR>
                <a href="https://youtube.com/playlist?list=PLxgZQoSe9cg1drBnejUaDD9GEJBGQ5hMt&si=FyKFK63gtzS-Gbpl">&#8681 COLLEGE
                    WALLAH</a>
                <BR></BR>
                <a href="https://youtu.be/i0ovgS-jCQ8?si=sorLTC_vyNo2ClnT">&#8681  COLLEGE WALLAH :PART 1</a>
                <br><br>
                <a href="https://youtu.be/qmkCmfLJENU?si=_cNyNFbVAbH6Z3tX">&#8681 COLLEGE WALLAH: PART 2</a>

            </div>
            <div class="box">
                <pre>&#8681 WEB-DESIGNING &#8681</pre>
                <br>
                <a href="https://youtu.be/HcOc7P5BMi4?si=A8aXyx4oYyHrheZ6">&#8681 HTML</a>
                <br><br>
                <a href="https://youtu.be/ESnrn1kAD4E?si=qG-xkomdfk9vnF_B">&#8681 CSS</a>
                <br><br>
                <a href="https://youtu.be/VlPiVmYuoqw?si=3pI8F5wnXBrRzUTm">&#8681 JAVA SCRIPT</a>
            </div>
            <!-- <div class="box">
                <pre>&#8681 PROJECT &#8681</pre>
                <br>
                <a href=" ">COMING SOON</a>
            </div> -->
            <div class="box">
                <pre>&#8681 ENGINEERING PHYSICS &#8681 </pre>
                <br>

                <a href="https://youtube.com/playlist?list=PLkojphh8hBnah-09sz2BzQo4PpjKmZeii&si=VF25FFQgrST3FWRf ">&#8681 QUANTUM
                    MECANICS</a>
                <BR></BR>
                <a href="https://youtu.be/iGKu2fOPiwk?si=BiFTqCyFoaYjv3hE">&#8681 QUANTUM MECANICS PART 1</a>
                <br><br>
                <a href="https://youtu.be/QlbvyPeU4w4?si=12rasc_ipT_EBtOc">&#8681 QUANTUM MECANICS PART 2</a>
                <BR></BR>
                <a href="https://youtu.be/GXP-DfICKbQ?si=cpSoBgFyFjKU__NU">&#8681   
                    PHYSICS OF MATERIALS  </a>
            </div>
            <br><br>
<div class="box">
    <pre> &#8681ENGINEERING Mathematics&#8681 </pre>
    <BR>

    <a href="https://youtube.com/playlist?list=PL5Dqs90qDljVTfWmYSWjD99kcqdkI5zMM&si=Quyg8SA6umT90DAF">&#8681 LINEAR ALGEBRA</a>
    <BR></BR>
    <a href="https://youtube.com/playlist?list=PL5Dqs90qDljUXgzBtbiGkyah-C_ycjnDk&si=MjPhnzYcasq-XRTa">&#8681 MULTIPLE INTEGRALS</a>
    <BR></BR>
    <a href="https://youtube.com/playlist?list=PL5Dqs90qDljVh2Ym38W3MaLV5JuE50uLa&si=wAzHr_LwwFiYQjtY">&#8681 VECTOR CALCULAS</a>
    <a href="http://"></a>
    <BR></BR>
    <a href="https://youtube.com/playlist?list=PL5Dqs90qDljVi1IPwOFK4kXxcnxQmeZrr&si=88n85RnJPP97RD1g">&#8681 DIFFERENTIAL CALCULUS</a>
</div>

            <!-- <div class="box"></div>
        <div class="box"></div> -->
    </section>
</body>
<script src="index.js"></script>
</html>