<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOTES</title>
    <link rel="shortcut icon" href="https://cdn-icons-png.freepik.com/256/13332/13332886.png?ga=GA1.1.492333239.1719049022&semt=ais_hybrid" type="image/x-icon">
    
    <style>
        body {


            /* background-repeat: no-repeat; */

            flex-wrap: wrap;

            margin-left: 10px;
            background-image: url(https://wallpaperaccess.com/full/38144.jpg);
            background-size: cover;

        }

        header {

            display: flex;
            flex-direction: row;

            /* display: inline; */
            /* display: block; */

        }

        .box {


            background-color: black;
            box-shadow: 2px 2px 25px whitesmoke;


            position: relative;
            right: 10px;
            animation-name: leftmov;
            animation-duration: 5s;
            animation-iteration-count: 1;
            animation-delay: 1s;
            animation-timing-function: ease-in-out;
            animation-direction: alternate-reverse;

            margin: 200px;
            margin-left: 100px;
            margin-top: 100px;
            height: 450px;
            width: 350px;
            border: 2px solid green;
            box-shadow: 2px 2px 10px white;

            flex-wrap: wrap;

            transition-property: all;
            transition-duration: 2s;
        }






        @keyframes leftmov {
            from {
                top: 0px;
                left: 0px;

            }

            to {
                top: 0px;
                left: 150px;

            }
        }

        .box:hover {
            transition-property: all;
            transition-duration: 2s;
            border-radius: 10px;
            border: 2px solid white;
            box-shadow: 10px 10px 5cm aquamarine;
        }

        h1 {
            color: aqua;
            text-align: center;
            text-shadow: 2px 2px 40px aqua;
        }

        a:hover {
            color: yellow;
        }



        a {
            /* text-align: start; */
            text-decoration: none;
            color: rgb(169, 153, 153);
            font-size: xx-large;
            padding-left: 10px;



        }

        img {
            border-radius: 10px;
        }
    </style>
</head>

<body>
    <header>
        <div class="box" id="box1">


            <h1>&#8681 CLICK HERE &#8681;</h1>
            <a href="https://drive.google.com/drive/folders/1yVYXwyHmCeTpgCTyBFqowX55BhyVzoRH?usp=drive_link ">&#8681
                C-PROGRAMMING</a>
                 
                <BR></BR>
                <a href="https://drive.google.com/drive/folders/1NJR_5ajblIERqn2nQtho_j13NQSazzKu?usp=drive_link">&#8681WEB-DESIGNING</a>


        </div>

    


    </header>
</body>
<script src="index.js"></script>
</html>